.DS_Store
build/
out/
*.apk
*.keystore
android/build/
__pycache__/
*.pyc
*.apk.idsig

macos/v6core
windows/v6core.exe
windows/wintun.dll
windows/WINTUN-LICENSE.txt

node_modules/
target/
*.dmg
*.msi
*.sqlite*
*.log
macos/v6service
desktop/src-tauri/resources/
windows/v6service.exe
