<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="edu.buaa.v6only.tests">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="v6only regression tests"/>
    <instrumentation android:name=".NetworkSmoke" android:targetPackage="edu.buaa.v6only"/>
    <instrumentation android:name=".UiSmoke" android:targetPackage="edu.buaa.v6only"/>
    <instrumentation android:name=".TunnelSmoke" android:targetPackage="edu.buaa.v6only"/>
</manifest>
